body {
  font-family: Arial, sans-serif;
  background: #000000;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  background: linear-gradient(135deg, #1e071e, #3a0b3a, #1e071e);
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 400px;
  margin-top: 250px;
}

h1 {
  text-align: center;
  color: white;
}

.input-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 16px;
  margin-top: 20px;
  font-size: 16px;
  background: #791a78;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #1e071e;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px 12px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

li button {
  background: red;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
   margin-top: 150px;
  }
}